<% provide(:title, 'BLOG') %>
<section class="hero-unit" id="blog">
<% @posts.each do |post| %>
	<div class="post">
		<h3> <%= post.title %> <br> <small> <%= post.created_at.to_s(:post_date) %> --- <%= get_comment_count(post.id) %> Comments </small> </h3>

		<p> <%= post.content[0,200] %> ... <%= link_to "See This Post", blog_path + '/' + post.id.to_s %> </a>
	</div>
<% end %>
</section>
