<% provide(:title, 'BLOG') %>
<section class="hero-unit" id="blog">
<h1><%= @post.title %> <small> <%= @post.created_at.to_s(:post_date) %> </small> </h1>

<p> <%= @post.content.html_safe %></p>

<h3>Comment:</h3>
<% @comments.each do |comment| %>
		<div class="media">
			<%= gravatar_for(comment.user_email.to_s).html_safe %>
			<div class="media-body">
				<h4 class="media-heading"> <%= comment.user_name %> <small><%= comment.created_at.to_s(:post_date) %></small> </h4>
				<%= comment.comment_content %>
			</div>
		</div>
<% end %>

<% if session[:init] == 'yes' %>
	<div class="well">
		<div class="media">
			<%= gravatar_for(session[:email].to_s).html_safe %>
			<div class="media-body">
				<h4 class="media-heading"> <%= session[:name] %> </h4>
				<form action="/blog" method="post">
					<textarea name="comment[content]" placeholder="Your Comments" required></textarea>
					<input type="submit" name="commit" value="Comment!!" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
<% else %>
	<div class="well">
		<h5> <span class="symbol">U</span> Sign in with facebook to comment: <fb:login-button perms="email" width="100" max-rows="1"></fb:login-button></h5>
	</div>
<% end %>
</section>
