<% provide(:title, 'BLOG') %>
<section class="hero-unit" id="blog">
<h1><%= @post.title %></h1>
<small> <%= @post.created_at.to_s(:post_date) %> </small>
<p> <%= @post.content.html_safe %></p>

<h3>Comment:</h3>
<% @comments.each do |comment| %>
	<div class="comment">
		<p>From: <%= comment.user_facebook %> </p>
		<p>Content: <%= comment.comment_content %></p>
	</div>
<% end %>
</section>
