<% provide(:title, 'BLOG') %>
<section class="hero-unit" id="blog">
<h1><%= @post.title %> <br><small> <%= @post.created_at.to_s(:post_date) %> </small> </h1>

<p> <%= @post.content.html_safe %></p>

<h3>Comment:</h3>
<% @comments.each do |comment| %>
		<div class="media">
			<%= gravatar_for(comment.user_email.to_s).html_safe %>
			<div class="media-body">
				<h4 class="media-heading"> <%= comment.user_name %> <br> <small><%= comment.created_at.to_s(:post_date) %></small> </h4>
				<%= comment.comment_content %>
			</div>
		</div>
<% end %>

<% if session[:init] == 'yes' %>
	<div class="well">
		<div class="media">
			<%= gravatar_for(session[:email].to_s).html_safe %>
			<div class="media-body">
				<h4 class="media-heading"> <%= session[:name] %> </h4>
				<form action="" method="post">
					<textarea name="content" placeholder="Your Comments" required id="comment_content"></textarea>
					<input type="submit" name="submitKeo" value="Comment!!" class="btn btn-primary" id="comment_submit">
				</form>
			</div>
		</div>
	</div>
	<script>
		$("#comment_submit").click(function(e){
			$.ajax({
			      	type: "POST",
			      	url: "<%= session_commentnew_path %>",
			      	data: {
			      			postID: "<%= @post.id %>",
			      			user_email: "<%= session[:email] %>",
			      			user_facebook: "<%= session[:facebook] %>",
			      			user_name: "<%= session[:name] %>",
			      			comment: $("#comment_content").val()

			      	},
			      	success: function(data){
			      		location.reload();
			      	}
			      });
			e.preventDefault();
		});
		        /**/
	</script>
<% else %>
	<div class="well">
		<h5> <span class="symbol">U</span> Sign in with facebook to comment: <fb:login-button perms="email" width="100" max-rows="1"></fb:login-button></h5>
	</div>
<% end %>
</section>
