<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Keo Strife Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '104320363072951',                        // App ID from the app dashboard
      channelUrl : '//strife.herokuapp.com/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  FB.init();
   FB.login(function(response) {
   if (response.authResponse) {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
     });
   } else {
     console.log('User cancelled login or did not fully authorize.');
   }
 });
</script>


<div id="wrapper">
<div class="seo">
	<h1><%= yield(:title) %> - Keo Strife Portfolio</h1>
	<h2>Keo Strife, graduated from Humber College and working for Babyrobot as a web developer! Web and software developer!</h2>
	<p> seo Keo Strife, Humber College, Graduation, Graduated, Web Software Developer, HTML HTML5 CSS CSS2 CSS3 Javascrip Js Jquery AngularJS Bootstrap PHP MySQL Ruby on Rails Python Objective C Objective-C iOS</p>
</div>
<header>
	<nav>
		<ul class="nav nav-tabs">
			<li class="<%= "active" if yield(:title) == "HOME" %>"><%= link_to "Home", home_path %></li>
			<li class="<%= "active" if yield(:title) == "BLOG" %>"><%= link_to "Blog", blog_path %></li>
			<li class="<%= "active" if yield(:title) == "LAB" %>"><%= link_to "Lab", lab_path %></li>
			<li class="<%= "active" if yield(:title) == "CONTACT" %>"><%= link_to "Contact", contact_path %></li>
			<li class="pull-right">
				<span class="symbol">U</span> Guest <span class="symbol"></span>
				<ul>
					<li> SSO is currently unavailable! </li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
<%= yield %>
<footer>
	<small><%= link_to "Keo Strife's Blog", blog_path %></small>
	<nav>
		<ul>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "Lab", lab_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>
</div>
</body>
</html>
