<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Keo Strife Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '104320363072951',                        // App ID from the app dashboard
      channelUrl : '//strife.herokuapp.com/channel.html', // Channel file for x-domain comms
      status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
    });


	  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
	  // for any authentication related change, such as login, logout or session refresh. This means that
	  // whenever someone who was previously logged out tries to log in again, the correct case below
	  // will be handled.
	  FB.Event.subscribe('auth.authResponseChange', function(response) {
	    // Here we specify what we do with the response anytime this event occurs.
	    if (response.status === 'connected') {
	      // The response object is returned with a status field that lets the app know the current
	      // login status of the person. In this case, we're handling the situation where they
	      // have logged in to the app.
	      console.log('yaya!!!!!!');
	    } else if (response.status === 'not_authorized') {
	      // In this case, the person is logged into Facebook, but not into the app, so we call
	      // FB.login() to prompt them to do so.
	      // In real-life usage, you wouldn't want to immediately prompt someone to login
	      // like this, for two reasons:
	      // (1) JavaScript created popup windows are blocked by most browsers unless they
	      // result from direct interaction from people using the app (such as a mouse click)
	      // (2) it is a bad experience to be continually prompted to login upon page load.
	      FB.login();
	    } else {
	      // In this case, the person is not logged into Facebook, so we call the login()
	      // function to prompt them to do so. Note that at this stage there is no indication
	      // of whether they are logged into the app. If they aren't then they'll see the Login
	      // dialog right after they log in to Facebook.
	      // The same caveats as above apply to the FB.login() call here.
	      FB.login();
	    }
	  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));
</script>

<div id="wrapper">
<div class="seo">
	<h1><%= yield(:title) %> - Keo Strife Portfolio</h1>
	<h2>Keo Strife, graduated from Humber College and working for Babyrobot as a web developer! Web and software developer!</h2>
	<p> seo Keo Strife, Humber College, Graduation, Graduated, Web Software Developer, HTML HTML5 CSS CSS2 CSS3 Javascrip Js Jquery AngularJS Bootstrap PHP MySQL Ruby on Rails Python Objective C Objective-C iOS</p>
</div>
<header>
	<nav>
		<ul class="nav nav-tabs">
			<li class="<%= "active" if yield(:title) == "HOME" %>"><%= link_to "Home", home_path %></li>
			<li class="<%= "active" if yield(:title) == "BLOG" %>"><%= link_to "Blog", blog_path %></li>
			<li class="<%= "active" if yield(:title) == "LAB" %>"><%= link_to "Lab", lab_path %></li>
			<li class="<%= "active" if yield(:title) == "CONTACT" %>"><%= link_to "Contact", contact_path %></li>
			<li class="pull-right">
				<span class="symbol">U</span> Guest <span class="symbol"></span>
				<ul>
					<li> <fb:login-button width="100" max-rows="1"></fb:login-button> </li>
				</ul>
			</li>
		</ul>
	</nav>
</header>
<%= yield %>
<footer>
	<small><%= link_to "Keo Strife's Blog", blog_path %></small>
	<nav>
		<ul>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "Lab", lab_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>
</div>
</body>
</html>
