<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Keo Strife Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/html5shim' %>
</head>
<body>

<%= render 'layouts/facebooksdk' %>

<div id="wrapper">
<%= render 'layouts/seo' %>
<header>
	<nav>
		<ul class="nav nav-tabs">
			<li class="<%= "active" if yield(:title) == "HOME" %>"><%= link_to "Home", home_path %></li>
			<li class="<%= "active" if yield(:title) == "BLOG" %>"><%= link_to "Blog", blog_path %></li>
			<li class="<%= "active" if yield(:title) == "LAB" %>"><%= link_to "Lab", lab_path %></li>
			<li class="<%= "active" if yield(:title) == "CONTACT" %>"><%= link_to "Contact", contact_path %></li>
			<li class="pull-right">
				<%= userInfo('user') %>
				<%= userInfo('login_btn').html_safe %>
			</li>
		</ul>
	</nav>
</header>
<%= yield %>
<footer>
	<small><%= link_to "Keo Strife's Blog", blog_path %></small>
	<nav>
		<ul>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "Lab", lab_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>
</div>
</body>
</html>
